{% extends 'Base.html' %}

{% block title %} About {% endblock title %}

{% block Content %}

<div class="container">
<div class=" my-5 border border-4 rounded mx-5 p-4">
    <h3 class="display-5" >Know Me Better</h3>
    <br>
    <article>
        <img style="float:left;border: 1px solid black;border-radius:50%;margin-right: 40px;margin-bottom:20px;" src="/static/Images/images.png" width="190px" height="190px" alt="Photo"> Hello, I’m <b>Shivam Pandey</b>, a solo traveller. I have founded <b>The Minerva</b> to share my knowledge about the amazing places in India. Travelling is in my blood. My mother used to tell me about places she had visited in her childhood. Her father, my maternal grandfather, was in the Indian railways. Whenever he got transfered she finds a reason to travel to the nearby places. She had visited many parts of the Rajasthan like Bikaner, the city of royal namkeen ‘Bhujia’, Jaipur, not just a pink city but an epitome of marvelous architectures. <br><br>

I’m blessed to be bornt in an Army family. My father served in the Indian Army for more than 30 years. This was an opportunity for my mother to carry on with her hobby and for me to develop one. I have been to Jabalpur, Pathankot, 
Mathura, Jaipur, Darjeeling and many other places. Out of these Darjeeling was the best place. It was neither as cold as Himachal nor as hot as Rajasthan. It was an empitome of peace. I’m saying so not because there are many Buddhist temples. There are temples of other religons as well. I’m saying so based on my experience only. Peace was in the air. We hired some guides along the way and they all were good by nature. A place is always know by its people and when you visit Darjeeling you will surely understand this. <br><br>

After three to four years, we had to pack our bags and shift from one part of the country to another. Sometimes it was annoying but after a long journey when we reach the place it was satisfying. That satisfaction was enough to fade away our tiredness and tension. From one part of the India to another, my life has always been in this way. To be honest, I have never travelled alone. I was always surrounded by people of the same interest and that has helped me enjoy the journey. My hobby has always brought me more opportunities to connect with people of different culture, language, religion and believes. Even after travelling many places, my list has not ended. If you wish you can be my travel partner in my next journey.
    </article>
</div>
</div>

{% endblock Content %}