{% extends 'Base.html' %}

{% block title %} Home {% endblock title %}

{% block Content %} 

<div class="container border border-4 rounded p-4 my-5">
    <h2>Let's Explore <strong>India</strong></h2>
    <br>
<div class="Content">
    <div id="Pangong Tso">
        <h3>Pangong Tso, Ladakh</h3>
        <img style="float: left;margin-right: 30px;" class="Images" src="/static/Images/Pangong Tso.jpg" alt="Pangong Tsu">
        <p>Pangong Lake also known as Pangong Tso is a beautiful endorheic lake situated in the Himalayas and is 134 km long, extending from India to China. Pangong Lake is situated at a height of 4350 m and is one of the biggest tourist attractions of the country. The beauty and allure of this lake has attracted people from all over the country and beyond. The lake is said to be in the process of being identified as a wetland with international significance under the Ramsar Convention and if everything goes as expected then the Pangong Lake will be the first in South Asia to be a trans-boundary wetland and that too under this convention.</p>
        <p>The one factor that makes this Lake so popular is the fact that it keeps changing colors. Situated in the Himalayan range it is approximately 140 km from Leh in Jammu and Kashmir. The name of the lake Pangong was got from a Tibetan word Banggong Co that means a narrow and enchanted lake. And now you know that the lake has got its name rightfully. You will know this when you visit the beautiful lake of Pangong. You are sure to be enchanted by the charm. And because the lake is a long stretch, one third area of the lake lies within our country and the other two third portion lies with Tibet and is controlled by China.</p>
        <p>The Pangong Lake falls on the Sino-Indian Line of Actual Control and to visit this beautiful lake you are required to get Inner Line permission. Also because the Pangong Lake is situated very close to the border, you will be allowed to visit only up to a certain area. You can explore the lake till the Spangmik village. Whenever you plan to visit this magical place, make sure you do carry a lot of winter clothes. The climate is cold and after dawn it gets harsher. Do not expect any kind of boating activities here. Being situated so close o the border, the Pangong Lake is still considered to be a very delicate region to visit. Visit this place only for its beauty and magnificence. And for any kind of adventure, the only option that you got is to camp on the shores of the lake. If you love photography, this place is going to be an absolute delight.</p>
    </div>

    <br><br>
    <br><br>
    <br><br>
    <br>
    <hr>

    <div id="Gokarna Om Beach">
        <h3>Gokarna Om Beach, Karnataka</h3>
        <img style="float: left;margin-right: 30px;" class="Images" src="/static/Images/Gokarna Om Beach.jpg" alt="Gokarna Om Beach">
        <p>Om Beach is a major tourist attraction in the coastal city of Gokarna, located in North Canara district. One of the acclaimed beaches in the country, Om Beach takes the shape of an ‘Om’, a Hindu spiritual symbol. In the shape of two crescents joined together to form an Om, the beach offers a breathtaking view of the sunset. The long stretch of white sandy beach adjoining the rocky terrain appeals to travellers from around the world.</p>
        <p>Om beach is 6 kms from Gokarna city centre. Gokarna is 500 kms from Bengaluru and 230 kms from Mangaluru. Goa is the nearest airport (150 kms from Gokarna). Ankola is the nearest railway station (19 kms). From Gokarna city, auto or taxi can be hired to reach Om Beach. Places to visit near Om Beach, Gokarna: Yana rocks (53 kms), Murudeshwara (80 kms) and Karwar (65 kms) are the nearby attractions that can be visited along with Gokarna.</p>
        <p>Jet Ski ride, banana boat rides, parasailing and surfing are some of the activities to try in Gokarna’s Om beach. Activities are offered by private operators and not all activities may be available at all times. Jet Ski ride, banana boat rides, parasailing and surfing are some of the activities to try in Gokarna’s Om beach. Activities are offered by private operators and not all activities may be available at all times.</p>
    </div>

    <br><br>
    <br><br>
    <br><br>
    <br>
    <hr>

    <div id="Cherrapunji">
        <h3>Cherrapunji, Meghalaya</h3>
        <img style="float: left;margin-right: 30px;" class="Images" src="/static/Images/Cherrapunji.jpg" alt="Cherrapunji">
        <p>High above misty valleys and foaming rivers, ensconced in swirling clouds and perched on an escarpment, lies Cherrapunji Meghalaya (4,500 feet). It’s a stunning location, and the year-round rain earned Cherrapunji a coveted entry long ago into the Guinness Book of World Records as the wettest place on earth, where the rainfall can be recorded in feet rather than in millimeters.
            Today, climatic changes have edged Cherrapunji out of the topmost 'wet' slot, but it still retains its pristine beauty, its unusual facets, the perpetual clouds, and the perpetual mists. To witness such beauty and spend time relaxing amidst nature.</p>
        <p>Cherrapunji is famous for its living root bridges, a result of bio-engineering practiced by the locals. The bridges can bear 50 people at a time and are spectacular to watch (though the one-of-its-kind double-decker root bridge requires at least a few hours of trekking). Adventure seekers and outdoor activity enthusiasts should visit during winters from November to February, when they can go river canyoning, explore the natural limestone Mawsmai Cave, Krem Mawmluh Cave, which is the fourth longest cave in the Indian subcontinent, and delve into solitude and quiet at the Eco Park, which explored more, can lead you to yet another quiet isolated waterfall leading to a deep gorge.</p>
        <p> Another star attraction of this East Khasi district, is the Double Decker Living Root Bridge, which can be reached after a steep but stunning trek through dense forests, also crossing bay leaf gardens and picturesque hamlets on the way. One can go atop an 80 feet observatory made of bamboo shoots, a daring but mesmerising climb immersed in the abundance of nature, from where the scenic plains of Bangladesh are clearly visible. Cherrapunji is a land painted with mystical beauty and its stories of deep rooted culture and history remain within a traveller after interacting with locals throughout their journey before finally carrying back life long souvenirs from the vibrant Cherrapunji Indigenous Festival, which is an annual event.</p>
    </div>
    
    <br><br>
    <br><br>
    <br><br>
    <br>
    <hr>
    
    <div id="Orchha Fort">
        <h3>Orchha Fort, Madhya Pradesh</h3>
        <img style="float: left;margin-right: 30px;" class="Images" src="/static/Images/Orchha Fort.jpg" alt="Orchha Fort">
        <p>The Orchha Fort complex, which houses a large number of ancient monuments consisting of the fort, palaces, temple, and other edifices, is located in the Orchha town in the Indian state of Madhya Pradesh. The fort and other structures within it were built by the Bundela Rajputs starting from the early 16th century by King Rudra Pratap Singh of the Orchha State and others who followed him. </p>
        <p>The fort complex, which is accessed from an arched causeway, leads to a large gateway. This is followed by a large quadrangular open yard surrounded by palaces. These are Raja Mahal or Raja Mandir, Sheesh Mahal, Jahangir Mahal, a temple, gardens and pavilions. The battlements of the fort have ornamentation. Notable architectural features in the fort complex are projecting balconies, open flat areas and decorated latticed windows. </p>
        <p>A part of this Mahal was converted into a temple and named Rama Raja Temple in honour of the god Rama. There is legend associated with naming it as a temple. According to a local legend, the temple was built following Rani Ganeshkuwari, the queen getting a "dream visitation" by Lord Rama directing her to build a temple for Him; while Madhukar Shah was a devotee of Krishna, his wife's dedication was to Rama. The entrance gate from this palace, which was earlier the main gate and which has carved ornamentation, leads to the royal baths and then to an small subpalace, built within a garden in typical Mughal architectural style: the Pravin Rai Mahal. </p>
    </div>

    <br><br>
    <br><br>
    <br><br>
    <br>
    <hr>
    
    <div id="Tosh Valley">
        <h3>Tosh Valley, Himachal Pradesh</h3>
        <img style="float: left;margin-right: 30px;" class="Images" src="/static/Images/Tosh Paravati Valley.webp" alt="Tosh Paravati Valley">
        <p>Summer becomes quite unbearable in the plains of India. This is when you feel like escaping to the mountains for that is where you find some peace amidst pleasant weather and breathtaking views. Himachal Pradesh is full of precious gems that serve as excellent summer getaways. One such gem is the beautiful Parvati Valley. </p>
        <p>With a number of beautiful villages scattered across the lush green hills, this region is one of the best getaways in north India. If you are planning a trip to Parvati Valley, chances are that you have already included places like Kasol on your list. However, there is a quaint village named Tosh which deserves your attention as much as any other part of the valley. Here are 5 reasons why you must visit Tosh on your trip to the Parvati Valley.</p>
        <p>Kasol is known as one of India’s best do-nothing vacation spots. Its dreamy ambiance, pleasant weather and beautiful Beas river attract visitors (especially Israelis) from all over the world. It is located just 20 km from Tosh which means that you are just an hour away from any modern amenities or facilities you might need (like ATMs and a cyber cafe). Be it views of snow-clad peaks or green hills, waterfalls or clear blue skies, Tosh has it all. Visiting Tosh in summer will treat you to views of breathtaking landscapes that will stay with you forever.</p>
    </div>

    <br><br>
    <br><br>
    <br><br>
    <br>
    <hr>
    
    <div id="Dharamshala">
        <h3>Dharamshala, Uttarakhand</h3>
        <img style="float: left;margin-right: 30px;" class="Images" src="/static/Images/Dharamshala.jpeg" alt="Dharamshala">
        <p>Dharamshala is a municipal corporation city in the upper reaches of the Kangra Valley and is surrounded by dense coniferous forest consisting mainly of stately Deodar cedar trees. The suburbs include McLeod Ganj, Bhagsunag, Dharamkot, Naddi, Forsyth Ganj, Kotwali Bazar (the main market), Kaccheri Adda (government offices such as the court, police, post, etc.), Dari, Ramnagar, Sidhpur, and Sidhbari (where the Karmapa is based).</p>
        <p>This place is also famous for its Himachal Pradesh Cricket Association Stadium (2003), which offers opportunities to the youth of state to prepare for their future in the game. McLeod Ganj town, lying in the upper reaches, is known worldwide for being the home of the Dalai Lama. On 29 April 1959, the 14th Dalai Lama (Tenzin Gyatso) established the Tibetan exile administration in the north Indian hill station of Mussoorie.</p>
        <p>Although the majority of tea gardens in Kangra District are located in and around Palampur, Dharamshala also has several tea gardens which are prominently situated around Sheela Chowk and extend northwards to Khaniyara. The other tea gardens are at Kunal Pathri. The tea is known as Dharamsala or Kangra tea, and is very popular across India and the rest of the world. Traditionally known for Kangra green tea, Dharamshala now produces all teas including black tea, green tea, oolong tea and white teas, in addition to the popular Kashmiri Kahwa and Masala Chai.</p>
    </div>

    <br><br>
    <br><br>
    <br><br>
    <br>
    <hr>
    
    <div id="Sarnath">
        <h3>Sarnath, Uttar Pradesh</h3>
        <img style="float: left;margin-right: 30px;" class="Images" src="/static/Images/Sarnath.webp" alt="Sarnath">
        <p>Sarnath (Hindustani pronunciation: [saːɾnaːtʰ]) is a place located 10 kilometres north-east of Varanasi near the confluence of the Ganges and the Varuna rivers in Uttar Pradesh, India. The Deer Park in Sarnath is where Gautama Buddha first taught the Dharma, and where the Buddhist Sangha came into existence through the enlightenment of Kondanna (Sanskrit: Kauṇḍinya).Singhpur, a village approximately one kilometre away from the site, was the birthplace of Shreyansanath, the Eleventh Tirthankara of Jainism. A temple dedicated to him is an important pilgrimage site.</p>
        <p>Also referred to as Isipatana, this city is mentioned by the Buddha as one of the four places of pilgrimage his devout followers should visit. It was also the site of the Buddha's Dhammacakkappavattana Sutta, which was his first sermon after attaining enlightenment, in which he explained the four noble truths and the teachings associated with them. Sarnath is one of the locations of Rudyard Kipling's Kim. Teshoo Lama stays at the Temple of the Tirthankhars in Sarnath when not on his pilgrimages. Kim meets him there after he leaves Saint Xavier's school.</p>
    </div>

    <br><br>
    <br><br>
    <br><br>
    <br>
    <hr>
    
    <div id="Alleppey">
        <h3>Alleppey, Kerala</h3>
        <img style="float: left;margin-right: 30px;" class="Images" src="/static/Images/Alleppey.jpg" alt="Alleppey">
        <p>Officially called Alappuzha, Alleppey is the picture-perfect place known for its beautiful backwaters and the houseboats offering overnight stays. The coastline of Alleppey offers some of the best beaches in Kerala with water sports during the dry season. Alleppey is located close to Kochi in the South Indian state of Kerala. Its palm-fringed inter-connect network of canal backwaters attracts a lot of tourists from all over the world. Coupled with other beautiful places in Kerala like Munnar and Thekkady, Alleppey is often considered for a honeymoon or for a great family vacation. </p>
        <p>There are plenty of houseboats, homestays, and rejuvenating Ayurvedic resorts that make staying in Alleppey brilliant. The houseboats pass through the serene backwaters, where you can catch glimpses of green paddy fields, choir-making activities, and witness the life of locals in Kerala. Be sure to catch a traditional snake boat race in the months of August and September and try out some toddy (palm wine) at a local toddy shop for adding a touch of authenticity to your travel experience in Allepey.</p>
    </div>

    <br><br>
    <br><br>
    <br><br>
    <br>
    <hr>
    
    <div id="Darjeeling">
        <h3>Darjeeling, West Bengal</h3>
        <img style="float: left;margin-right: 30px;" class="Images" src="/static/Images/Darjeeling.jpg" alt="Darjeeling">
        <p>Darjeeling (Bengali: [ˈdarˌdʒiliŋ], Nepali: [darˈd͡ziliŋ]) is a town and municipality in the Eastern Himalayas in India, lying at an average elevation of 2,045 metres (6,709 ft) in the northernmost region of the state of West Bengal. Kangchenjunga, the world's third-highest mountain, rises in north and is prominently visible on clear days. Darjeeling tea is grown on the slopes below the town and the steam-powered Darjeeling Himalayan Railway attracts tourists for the experience of late 19th-century travel. Darjeeling is also the headquarters of the Darjeeling district, a semi-autonomous region governed by the Gorkhaland Territorial administration.</p>
        <p>In the early 19th century during East India Company rule in India, Darjeeling was identified as a potential summer retreat for British administrators and soldiers. The narrow mountain ridge was leased from the Kingdom of Sikkim and eventually annexed to British India. Thousands of labourers were brought in from the neighbouring Himalayan kingdoms to clear the forests and build British-style cottages. The tea plant was experimented with and found to flourish in the Darjeeling soil.</p>
        <p> Darjeeling tea came to be known the world over, and was the source of large revenues. In 1881, the Darjeeling Himalayan Railway—a narrow-gauge mountain railway connecting the town to the North Bengal plains—was completed in order to carry freight and to enable easier access by the summer residents. A large number of private schools were established in the region for the education of children of the domiciled British in India. In the later years of British rule, Darjeeling became a staging ground for Himalayan expeditions, and after India's independence, a town resident, Tenzing Norgay, was among the first to summit Mount Everest. As the British left Darjeeling, its cottages were purchased by wealthy Indians from the plains and its tea plantations by out-of-town Indian business owners and conglomerates.</p>
    </div>
</div>
</div>

<style>
    img{
        height:400px;
        width:800px;
    }
</style>

{% endblock Content %} 